body {
    background-color: #eee;
}

.bookContainer {
    outline: 1px solid #aaa;
    width: 350px;
    height: 130px;
    background-color: #fff;
    float: left;
    margin: 5px;
}

.bookContainer img {
    float: left;
    margin: 10px;
}

.bookContainer ul {
    list-style-type: none;
    margin-bottom: 0;
}

.bookContainer button {
    float: right;
    margin: 10px;
}
form#addBook.form-horizontal{
width:750px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
background-color: #FFFFFF;
}