<img src="img/placeholder.png"/>
    <ul>
        <li>{{item.title}}</li>
        <li>{{item.author}}</li>
        <li>{{item.releaseDate}}</li>
        <li>{{item.keywords}}</li>
    </ul>
<button class="delete">Delete</button>