<form role="form" class="form-horizontal" id="addBook">
   <div class="form-group">
    <label for="coverImage" class="control-label col-xs-2"> Cover Image</label>
  		 <div class="input-group col-xs-10">					
					<input type="text" class="form-control" id="coverImage">
					<span class="input-group-btn">
						<span class="btn btn-primary btn-file">
							Browse… <input type="file">
						</span>
					</span>
		</div>
  </div>
  <div class="form-group">
    <label for="title" class="control-label col-xs-2"> Title</label> 
      <div class="col-xs-10">
    	<input type="text" class="form-control" id="title"/>
    </div>
  </div>
  <div class="form-group">
    <label for="author" class="control-label col-xs-2" > Author </label> 
      <div class="col-xs-10">
    	<input type="text" class="form-control" id="author"/>
     </div>
  </div>
  <div class="form-group">
    <label for="releaseDate" class="control-label col-xs-2" > Release date:  </label> 
     <div class="col-xs-10">
    	<input type="text" class="form-control" id="releaseDate"/>
    </div>
  </div>
 <div class="form-group">
    <label for="keywords" class="control-label col-xs-2"> Keywords:  </label> 
    <div class="col-xs-10">
    	<input type="text" class="form-control" id="keywords"/>
    </div>
  </div>
  
  <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-primary" id="add">Add</button>
            </div>
        </div>
</form>
    